html, body{
	margin: 0;
	padding: 0;
	width: 100%;
}

body{
	font-family: 'Nunito', sans-serif;
}
.wrapper{
	width: 100%;
	margin: auto;

}


header{

	height: 90vh;
	background-image: url('/home/jack28/Documents/Mywebsite/img/pic4.jpg') ;
	background-size: cover;
	justify-content: space-between;

}
.navbar{
	font-family: 'Revalia', cursive;

}


.menu li{
	padding:0;
	margin:0;
	list-style: none;
	display: flex;


}
